###  Files that should be ignored by Git

*.glob
*.vo
*.vok
*.vos
.*.aux
/._CoqMakefile.d
/_CoqMakefile
/_CoqMakefile.conf
/_CoqProject
/_PackagesMakefile
/html
UniMath/*/All.v
UniMath/All.v

### End of file

# Local Variables:
# mode: conf-unix
# End:
